// COLOURS

$primary: #50a1ff;
$secondary: #182b4d;
$third: #3cd458;
$dark: #4c4d50;
$gray: #868e96;
$light: #fff;

//BACKGROUND-COLOR

.bg-primary {
  background-color: $primary !important;
}

.bg-secondary {
  background-color: $secondary !important;
}

.bg-third {
  background-color: $third !important;
}

.bg-dark {
  background-color: $dark !important;
}

.bg-dark-trans {
  background-color: hsla(0, 0%, 0%, 0.473) !important;
}

.bg-light {
  background-color: $light !important;
}

.bg-gray {
  background-color: $gray !important;
}

// FONT COLOR

.text-primary {
  color: $primary !important;
}

.text-secondary {
  color: $secondary !important;
}

.text-dark {
  color: $dark !important;
}

.text-light {
  color: $light !important;
}

// FONT SIZE
.font-12 {
  font-size: 12px !important;
}

.h7 {
  font-size: 14px;
}

.font-20 {
  font-size: 20px;
}

.font-50 {
  font-size: 4.5em;
}

.bt-underline {
  border-top: 3px solid $primary;
  width: 60%;
  margin: 0 auto;
}

.border-icon {
  border-radius: 50%;
  border: 3px solid $secondary;
  height: 8em;
  width: 8em;
  margin: 0 auto;
}

.calculator a {
  color: $light;
  font-weight: bold;
}
.calculator a.menos {
  border-radius: 50%;
  background-color: $primary;
  padding: 4px 12px;
}

.calculator a.mas {
  border-radius: 50%;
  background-color: $primary;
  padding: 4px 9px;
}

// FONT-ALING

.footer-al {
  text-align: right;
}

.modal-body {
  text-align: justify;
  padding: 40px;
}

.modal-body ol {
  padding-left: 0px !important;
}

// COMPONENTS
#cambio {
  input {
    border: 0px !important;
  }
  input:focus {
    border: 0px;
    border-color: #fff;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.075) inset, 0 0 0px #fff;
    outline: 0 none;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.blackWhite {
  filter: grayscale(100%);
}

.blackWhite:hover {
  filter: grayscale(0%);
}

// ALIGN
.div-content {
  margin: 0 auto;
}

// LAYOUT

.navbar {
  z-index: 1;
}

.portal-header {
  background-image: url("./../../assets/img/portal.png");
  background-size: cover;
  width: 100vw;
  background-position: center;
  position: relative;
  top: -56px;
}

.portal-nosotros {
  background-image: url("./../../assets/img/enlacedetalle.png");
  background-size: cover;
  width: 100vw;
  background-position: center;
  position: relative;
  top: -56px;
}

.contenedor-header-left {
  padding: 7em 2em 4em 15em;
}

.contenedor-header-right {
  padding: 7em 15em 4em 2em;
}

.contenedor-header-center {
  padding: 7em 1em 3em 1em;
}

#cambio div.monto {
  height: 4.5em;
  border: 1px solid $dark;
  border-left: 5px solid $secondary;
}

#aspectos-legales h6 {
  cursor: pointer;
}

.img-blog {
  margin: 4em;
  width: 85.5% !important;
}

#menu-toggle {
  border-radius: 50%;
  padding: 5px 10px;
}

// como-funciona.html
#video .video-contenedor {
  width: 35em;
  height: 20em;
  margin: 0 auto;
}
#video iframe {
  width: 100%;
  height: 100%;
}

.tab-pane {
  padding: 1em 3em;
}

#calculo {
  margin: 0.5em 4em 0.5em 4em;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff !important;
  background-color: $primary !important;
  font-weight: bold;
}

.card-header {
  background-color: $secondary;
  color: $light;
  font-weight: bold;
  button {
    color: $light !important;
  }
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: $light !important;
  background-color: $primary !important;
  border-color: #dee2e6 #dee2e6 #fff;
  font-weight: bold;
}

#v-pills-tabContent h4,
.title {
  padding-bottom: 0.5em;
  border-bottom: 4px solid $primary;
  margin-bottom: 1em;
}

.w-md-25 {
  width: 25%;
}

.parrafo-nosotros {
  padding: 2% 15%;
}

//RESPONSIVE MEDIA

@media (max-width: 767.98px) {
  .portal-header {
    height: 60em;
    padding-top: 4em;
  }

  .portal-nosotros {
    height: 21em;
    padding-top: 4em;
  }

  .header-div {
    height: 19em;
  }

  .contenedor-header-left,
  .contenedor-header-right {
    padding: 1em 3em 0em 3em;
  }

  .footer-al {
    text-align: center;
  }

  #calculo {
    margin: 0.5em 0.5em 0.5em 0.5em;
  }

  #video .video-contenedor {
    width: 20em;
    height: 11em;
  }

  .w-md-25 {
    width: 100%;
  }

  #blog {
    width: 100%;
    margin: 0 auto;
  }

  .img-blog {
    margin: 0em;
    width: 100% !important;
  }
}

/*!
 * Start Bootstrap - Simple Sidebar (https://startbootstrap.com/template-overviews/simple-sidebar)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-simple-sidebar/blob/master/LICENSE)
 */
body,
#wrapper {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}
